### Cost = (Sum of distance from the ùëñt‚Ñé harvesting site to the ùëóùë°‚Ñé depot  X  The amount of biomass gotten and transported from the ùëñùë°‚Ñé harvesting site to the ùëóùë°‚Ñé depot)                                                                  
#    + 
###      (Sum of distance from the ùëñt‚Ñé harvesting site to the ùëóùë°‚Ñé depot  X  The amount of pellets transported from the ùëóùë°‚Ñé depot to the ùëòùë°‚Ñé biorefinery)

In [1]:
import pandas as pd
import numpy as np
import heapq
from collections import Counter

In [2]:
dataset = pd.read_csv('pred.csv')
dist = pd.read_csv('dataset/Distance_Matrix.csv')

In [3]:
dataset.head()

   Predictions
0     9.579263
1    33.575882
2    71.998426
3    94.521988
4    21.116828

In [4]:
dist = dist.drop(columns='Unnamed: 0')
dist.head()

,0,1,2,3,4,5,6,7,8,9,...,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417
0,0.0000,11.3769,20.4557,38.1227,45.3810,54.9915,78.6108,118.6750,102.6639,113.4309,...,683.8771,687.6310,697.3246,669.3962,667.6788,665.5775,662.0291,665.9655,673.2073,681.4235
1,11.3769,0.0000,9.0788,28.9141,36.1724,45.7829,69.4022,78.2329,93.4553,111.1832,...,681.6295,685.3833,695.0769,667.1485,665.4311,663.3298,659.7815,663.7178,670.9596,679.1758
2,20.4557,9.0788,0.0000,22.3791,29.6374,39.2478,62.8671,71.6979,86.9203,111.7859,...,682.2323,685.9861,695.6796,667.7513,666.0339,663.9326,660.3843,664.3206,671.5623,679.7786
3,38.1227,28.9141,22.3791,0.0000,11.8343,23.5413,41.8396,50.6703,65.8927,82.5852,...,681.4226,685.1765,694.8701,666.9417,665.2243,663.1230,659.5746,663.5110,670.7528,678.9690
4,45.3810,36.1724,29.6374,11.8343,0.0000,11.7070,24.3986,33.2293,53.9901,65.1442,...,663.9816,667.7355,677.4291,649.5007,647.7833,645.6820,642.1336,646.0700,653.3118,661.5280

In [5]:
distance_matrix = dist.values

In [6]:
dist.values.shape

(2418, 2418)

In [7]:
X = list(dataset['Predictions'])
print(X[:5])

[9.57926289627, 33.575881824449986, 71.99842555560001, 94.52198760620004, 21.1168282795]

In [8]:
len(dataset)

2418

In [9]:
dist.head()

,0,1,2,3,4,5,6,7,8,9,...,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417
0,0.0000,11.3769,20.4557,38.1227,45.3810,54.9915,78.6108,118.6750,102.6639,113.4309,...,683.8771,687.6310,697.3246,669.3962,667.6788,665.5775,662.0291,665.9655,673.2073,681.4235
1,11.3769,0.0000,9.0788,28.9141,36.1724,45.7829,69.4022,78.2329,93.4553,111.1832,...,681.6295,685.3833,695.0769,667.1485,665.4311,663.3298,659.7815,663.7178,670.9596,679.1758
2,20.4557,9.0788,0.0000,22.3791,29.6374,39.2478,62.8671,71.6979,86.9203,111.7859,...,682.2323,685.9861,695.6796,667.7513,666.0339,663.9326,660.3843,664.3206,671.5623,679.7786
3,38.1227,28.9141,22.3791,0.0000,11.8343,23.5413,41.8396,50.6703,65.8927,82.5852,...,681.4226,685.1765,694.8701,666.9417,665.2243,663.1230,659.5746,663.5110,670.7528,678.9690
4,45.3810,36.1724,29.6374,11.8343,0.0000,11.7070,24.3986,33.2293,53.9901,65.1442,...,663.9816,667.7355,677.4291,649.5007,647.7833,645.6820,642.1336,646.0700,653.3118,661.5280

In [36]:
coefficients = np.array([[1,1], [3,1]])
constants = np.array([1,2])

# Use numpy.linalg.solve to solve the equations
solutions = np.linalg.solve(coefficients, constants)

# The solutions will be stored in the 'solutions' array
x_solution, y_solution = solutions

# Display the solutions
print(f"x = {x_solution}")
print(f"y = {y_solution}")

x = 0.5
y = 0.5

In [ ]:
def simSolver()

In [25]:
arr = [i[0] for i in dataset.values]
distArr = [i for i in dist.values[0]]
print(distArr[:5])

[0.0, 11.3769, 20.4557, 38.1227, 45.381]

In [38]:
coefficients = np.array([arr, distArr])
constants = np.array([20000, 1000])

# Use numpy.linalg.solve to solve the equations
solutions = np.linalg.solve(coefficients, constants)

# Display the solutions
print(f"x = {solutions}")

LinAlgError: Last 2 dimensions of the array must be square