### Cost = (Sum of distance from the ùëñt‚Ñé harvesting site to the ùëóùë°‚Ñé depot  X  The amount of biomass gotten and transported from the ùëñùë°‚Ñé harvesting site to the ùëóùë°‚Ñé depot)                                                                  
#    + 
###      (Sum of distance from the ùëñt‚Ñé harvesting site to the ùëóùë°‚Ñé depot  X  The amount of pellets transported from the ùëóùë°‚Ñé depot to the ùëòùë°‚Ñé biorefinery)

In [1]:
import pandas as pd
import numpy as np
import heapq
from collections import Counter
import math
import random
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('pred.csv')
dist = pd.read_csv('dataset/Distance_Matrix.csv')
optDist = pd.read_csv('optimized_points.csv')

In [3]:
optDist.fillna(0, inplace=True)

In [4]:
dataset.head()

   Predictions
0     9.579263
1    33.575882
2    71.998426
3    94.521988
4    21.116828

In [5]:
dist = dist.drop(columns='Unnamed: 0')
dist.head()

,0,1,2,3,4,5,6,7,8,9,...,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417
0,0.0000,11.3769,20.4557,38.1227,45.3810,54.9915,78.6108,118.6750,102.6639,113.4309,...,683.8771,687.6310,697.3246,669.3962,667.6788,665.5775,662.0291,665.9655,673.2073,681.4235
1,11.3769,0.0000,9.0788,28.9141,36.1724,45.7829,69.4022,78.2329,93.4553,111.1832,...,681.6295,685.3833,695.0769,667.1485,665.4311,663.3298,659.7815,663.7178,670.9596,679.1758
2,20.4557,9.0788,0.0000,22.3791,29.6374,39.2478,62.8671,71.6979,86.9203,111.7859,...,682.2323,685.9861,695.6796,667.7513,666.0339,663.9326,660.3843,664.3206,671.5623,679.7786
3,38.1227,28.9141,22.3791,0.0000,11.8343,23.5413,41.8396,50.6703,65.8927,82.5852,...,681.4226,685.1765,694.8701,666.9417,665.2243,663.1230,659.5746,663.5110,670.7528,678.9690
4,45.3810,36.1724,29.6374,11.8343,0.0000,11.7070,24.3986,33.2293,53.9901,65.1442,...,663.9816,667.7355,677.4291,649.5007,647.7833,645.6820,642.1336,646.0700,653.3118,661.5280

In [6]:
distance_matrix = dist.values

In [ ]:
dist.head()

,0,1,2,3,4,5,6,7,8,9,...,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417
0,0.0000,11.3769,20.4557,38.1227,45.3810,54.9915,78.6108,118.6750,102.6639,113.4309,...,683.8771,687.6310,697.3246,669.3962,667.6788,665.5775,662.0291,665.9655,673.2073,681.4235
1,11.3769,0.0000,9.0788,28.9141,36.1724,45.7829,69.4022,78.2329,93.4553,111.1832,...,681.6295,685.3833,695.0769,667.1485,665.4311,663.3298,659.7815,663.7178,670.9596,679.1758
2,20.4557,9.0788,0.0000,22.3791,29.6374,39.2478,62.8671,71.6979,86.9203,111.7859,...,682.2323,685.9861,695.6796,667.7513,666.0339,663.9326,660.3843,664.3206,671.5623,679.7786
3,38.1227,28.9141,22.3791,0.0000,11.8343,23.5413,41.8396,50.6703,65.8927,82.5852,...,681.4226,685.1765,694.8701,666.9417,665.2243,663.1230,659.5746,663.5110,670.7528,678.9690
4,45.3810,36.1724,29.6374,11.8343,0.0000,11.7070,24.3986,33.2293,53.9901,65.1442,...,663.9816,667.7355,677.4291,649.5007,647.7833,645.6820,642.1336,646.0700,653.3118,661.5280

In [ ]:
arr = [i[0] for i in dataset.values]

In [ ]:
totalArray = []
totArray = []
similarity_array = []
arr = [i[0] for i in dataset.values]

for index in range(2418):
    total,ind = 0,0
    distArr = [dist.values[index][i] for i in range(len(dist.values[index]))]
    distArr1 = [dist.values[index][i] for i in range(len(dist.values[index]))]
    
    distDict = {distArr[i]:i for i in range(len(distArr))}
    distArr.sort()
    
    d_arr = []
    tot = 0
    while total < 20000:
        d_arr.append(distDict[distArr[ind]])
        total += arr[distDict[distArr[ind]]]
        tot += distArr[ind]
        ind +=1
    similarity_array.append(d_arr)
    totalArray.append(total)
    totArray.append(tot)

In [ ]:
print(len(similarity_array[0]))

In [ ]:
def similar_array(arr1, arr2):
    count = 0
    for i in arr1:
        if i in arr2:
            count += 1
    if count > 0:
        return [count/len(arr1), count/len(arr2)]
    return -1

optimize = []
for i in range(len(similarity_array)):
    
    optimize.append([])
    for index in range(len(similarity_array)):
        optimize[i].append(similar_array(similarity_array[i], similarity_array[index]))
    
    if i%5 == 0:
        print(f"Processing ... {(i/len(similarity_array))*100}")

df = pd.DataFrame(optimize)
df.to_csv('optimized_points.csv', index=False)
df.head()

In [ ]:
op1 = [list(i) for i in optDist.values]

In [ ]:
def check_sum(array):
    summ = 0
    for i in array:
        summ += arr[i]
    return summ

In [ ]:
array = []
apple = [[] for i in range(2418)]
oranges = [0 for i in range(2418)]
setr = set()
gods = set()
test_gods = set()
devils = set()
counter, score = 0,0
cv = 0
optimized = 0
prev = -1
run = True

while run:
    for x in range(len(op1)):

        minIndex = -1
        minVal = totArray[x]
        for index, value in enumerate(op1[x]):
            counter += 1
            if value >= 0.005:
                if totArray[index] < minVal and index not in gods:
                    minVal = totArray[index]
                    minIndex = index
        if minIndex != -1:
            if x not in devils:
                apple[minIndex].append(x)
                array.append(minIndex)
                setr.add(minIndex)

    for index, apples in enumerate(apple):
        counter += 1
        if apples != []:
            distArr = [dist.values[index][i] for i in range(len(dist.values[index]))]
            distArr1 = [dist.values[index][i] for i in range(len(dist.values[index]))]
            optimaL = []
            total = 0

            distDict = {distArr[i]:i for i in range(len(distArr))}

            distArr.sort()

            ind = 0
            while check_sum(optimaL) < 20000 and ind <= len(apple[index])-1:
                if check_sum(optimaL)+arr[apples[ind]] <20000:
                    counter += 1
                    total += distArr1[distDict[distArr[ind]]]
                    devils.add(apple[index][ind])

                    optimaL.append(apple[index][ind])
                    ind += 1

                    aa = 0
                    test_gods.add(index)
                    for i in test_gods:
                        aa += check_sum(apple[i])
                    if aa < score:
                        test_gods.remove(index)
                    else:
                        score = aa

                    if check_sum(optimaL) > 19800 or (ind > len(apple[index])-1 and check_sum(optimaL)>2000) and score > aa:
                        gods.add(index)
                        if index in devils:
                            devils.remove(index)
                        aa = 0
                        for i in gods:
                            aa += check_sum(apple[i])
                        print(f"{aa/sum(arr)*100}% booty collected")
                        if prev == aa/sum(arr)*100:
                            optimized += 1
                        prev = aa/sum(arr)*100


                        print(f"{len(gods)} god found {index} Summation {check_sum(optimaL)}")
                        apple[index] = optimaL
                        break
                else:
                    ind+=1
                
            if counter >= 5000:
                
                cv += counter
                counter = 0
                print(f"Counter: {cv} iterations.... No:{len(gods)}")
        if optimized >= 100:
            run = False

In [560]:
minm = float('inf')
best = -1
for i in gods:
    if check_sum(apple[i]) < minm:
        minm = check_sum(apple[i])
        best = i
#     print(f"Site Index: {i} ----- {check_sum(apple[i])}")
for each in apple[best]:
    devils.remove(each)
gods.remove(best)

In [561]:
len(gods)

34

In [562]:
def merger(apple, gods):
    impotent = []
    for index in gods:
        if check_sum(apple[index]) < 13000:
            impotent.append(index)
    return impotent

sk = merger(apple, gods)

In [563]:
klo=0
for i in sk:
    klo += check_sum(apple[i])
    print(f"Index: {i} ---- {apple[i]}  ---- {check_sum(apple[i])}\n\n")
klo

Index: 1545 ---- [2054, 2101, 2102, 2103, 2104, 2105, 2146, 2147, 2148, 2188, 2226, 2227, 2262, 2263, 2264, 2293, 2318, 2319, 2320, 2321, 2339, 2340, 2341, 2342, 2343, 2352, 2353, 2354, 2355, 2363, 2364, 2365, 2372, 2373, 2374, 2381, 2382, 2383, 2384, 2389, 2390, 2391, 2392, 2400, 2401, 2402, 2403, 2411, 2412, 2413, 2414]  ---- 4201.150335261001


Index: 1292 ---- [508, 510, 569, 570, 626, 627, 628, 629, 689, 691, 752, 753, 754, 755, 756, 817, 819, 881, 1112]  ---- 2234.2098373137696


Index: 1037 ---- [1247, 1307, 1451, 1499, 1500, 1505, 1506, 1507, 1508, 1510, 1511, 1512, 1513, 1514, 1560, 1562, 1564, 1565, 1568, 1569, 1572, 1575, 1576, 1577, 1578, 1579, 1620]  ---- 3205.518401026919


Index: 1039 ---- [1248, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1452, 1453, 1463, 1464, 1501, 1502, 1503, 1504, 1509, 1515, 1516, 1523, 1581, 1582]  ---- 5882.544762527401


Index: 1424 ---- [1883, 1939, 1940, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 2044, 2045, 2046, 2047, 2048]  ---- 2973.4561429926


Index: 1040 ---- [1214, 1272, 1403, 1466, 1524, 1583, 1048, 1103, 1158, 1213, 1270, 1271, 1336, 1337, 1400, 1402]  ---- 3414.9659985430994


Index: 923 ---- [205, 206, 246, 247, 329, 870, 932, 994, 1091, 1094, 1095, 1203]  ---- 2044.7857170627697


Index: 1063 ---- [390, 391, 392, 393, 438, 440, 441, 442, 443, 444, 445, 492, 494, 550, 551]  ---- 3301.9415600568996


Index: 1704 ---- [1861, 2086, 2087, 2088, 2089, 2090, 2091, 2120, 2121, 2122, 2123, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2166, 2167, 2168, 2169, 2170, 2171, 2172, 2173, 2174, 2175, 2176, 2177, 2178, 2179, 2180, 2206, 2207, 2208, 2209, 2210, 2211, 2212, 2213, 2214, 2215, 2216, 2217, 2218, 2219, 2220, 2244, 2247, 2248, 2250, 2251, 2252, 2253, 2254, 2255, 2256, 2257, 2283, 2284, 2286, 2287, 2288, 2289, 2311, 2314, 2315, 2316, 2336, 2337, 2338]  ---- 10967.41307540974


Index: 1203 ---- [1527, 1698, 1699, 1700, 1744, 1745, 1751, 1752, 1799, 1800, 1801, 1802, 1803, 1805, 1852, 1854]  ---- 3502.8949840634987


Index: 1091 ---- [1563, 1566, 1567, 1570, 1571, 1573, 1574, 1622, 1623, 1624, 1626, 1627, 1628, 1629, 1630, 1631, 1633, 1634, 1635, 1680, 1681, 1682, 1683]  ---- 3703.990843842399


Index: 1860 ---- [1687, 1739, 1740, 1793, 1794, 1847, 1848, 1905, 2308, 2334, 2119, 2165, 2204, 2205, 2243, 2245, 2246, 2249, 2277, 2278, 2279, 2280, 2281, 2282, 2285, 2307, 2309, 2310, 2312, 2313, 2331, 2332, 2333, 2335]  ---- 4341.321141127621


Index: 1605 ---- [2006, 2060, 2149, 2150, 2151, 2189, 2190, 2191, 2192, 2228, 2229, 2265, 2294, 2295, 2296, 2322, 2344, 2356, 2357, 2366, 2367, 2368, 2369, 2370, 2375, 2376, 2377, 2378, 2379, 2385, 2386, 2387, 2388, 2393, 2394, 2395, 2396, 2397, 2398, 2399, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2415, 2416, 2417]  ---- 3564.1751247147718


Index: 1094 ---- [1051, 1104, 1105, 1159, 1160, 1161, 1215, 1216, 1273, 1274, 1338, 1339, 1404, 1465, 1467, 1525, 1528, 1584, 1585, 1639, 1642]  ---- 4794.261668745898


Index: 1095 ---- [1340, 1405, 1406, 1468, 1469, 1526, 1586, 1587, 1643, 1644]  ---- 2269.321754589899


Index: 1861 ---- [1741, 1742, 1743, 1795, 1796, 1797, 1798, 1849, 1850, 1851, 1906, 1907, 1908, 1909, 1963, 1964, 2016, 2017, 2018, 2065, 2066, 2067, 2068, 2112, 2113, 2114, 2115, 2116, 2117, 2118, 2156, 2157, 2158, 2159, 2160, 2161, 2162, 2163, 2164, 2198, 2199, 2200, 2201, 2236, 2237, 2238, 2239, 2274, 2275, 2303, 2304]  ---- 6305.095593675559


Index: 1356 ---- [816, 941, 942, 1000, 1002, 1003, 1056, 1057, 1058, 1109, 1110, 1111, 1164, 1165, 1166, 1220, 1221, 1222, 1345, 1346, 1411, 1412, 1413, 1414, 1415, 1475, 1476, 1535, 1536, 1537]  ---- 3642.782506655128


Index: 1484 ---- [1941, 1997, 1998, 1999, 2043, 2049, 2050, 2051, 2052, 2053, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100, 2139, 2140, 2141, 2142, 2143, 2144, 2145, 2181, 2182, 2183, 2184, 2185, 2186, 2187, 2221, 2222, 2223, 2224, 2225, 2258, 2259, 2260, 2261, 2290, 2291, 2292, 2317]  ---- 5573.714466393399


Index: 1231 ---- [451, 503, 505, 506, 509, 511, 512, 563, 564, 565, 566, 567, 568, 572, 618, 621, 622, 623, 624, 681, 682, 683, 684, 685, 686, 687, 688, 749, 750, 751, 813, 814, 877, 878, 879, 940, 1001]  ---- 5904.98381096352


Index: 984 ---- [1454, 1457, 1462, 1517, 1518, 1519, 1520, 1521, 1522, 1580]  ---- 2239.4752561090004


Index: 988 ---- [936, 998, 1053, 1054, 1055, 1107, 1108, 1162, 1163, 1218, 1275, 1276]  ---- 2229.5503764466093


Index: 863 ---- [483, 484, 485, 544, 546, 607, 744, 810, 811, 875, 938]  ---- 2546.648148685799


Index: 1120 ---- [275, 315, 316, 357, 358, 398, 399, 400, 403, 447, 449, 450, 452, 453, 454, 499, 502, 504, 555, 556, 557, 558, 559, 560, 561, 562, 613, 614, 615, 616, 678, 679, 680, 746, 747, 748, 812, 876]  ---- 6073.850102322839

94918.05160853014

In [564]:
print(sk)

[1545, 1292, 1037, 1039, 1424, 1040, 923, 1063, 1704, 1203, 1091, 1860, 1605, 1094, 1095, 1861, 1356, 1484, 1231, 984, 988, 863, 1120]

In [565]:
print(check_sum(apple[923]))

2044.7857170627697

In [566]:
gr = []
toodler = []
k=0
amassed = 0
sk.sort()
while k <= len(sk)-1:
    if amassed + check_sum(apple[sk[k]]) <= 20000:
        amassed += check_sum(apple[sk[k]])
        toodler.append(sk[k])
    else:
        gr.append(toodler)
        toodler = []
        amassed = 0
    k+=1

In [567]:
print(gr)

[[863, 923, 984, 988, 1037, 1039], [1063, 1091, 1094, 1095], [1203, 1231, 1292, 1356, 1424], [1545, 1605, 1704]]

In [568]:
check_sum(apple[1120])

6073.850102322839

In [569]:
for i in gr:
    klo = 0
    for k in i:
        klo += check_sum(apple[k])
    print(klo)

18148.5226618585
14069.515827235095
18258.327281988517
18732.738535385513

In [570]:
check_sum(apple[1545])

4201.150335261001

In [571]:
grandpa = []
for index,value in enumerate(gr):
    papa = [[] for i in value]
    for i,j in enumerate(value):
        for x,y in enumerate(value):
            papa[i].append(dist.values[y][j])
    grandpa.append(papa)
    
yahoo_boys = set()

love = []
for q, array in enumerate(grandpa):
    minm = float('inf')
    minInd = -1
    for index,each in enumerate(array):
        if np.mean(each) < minm:
            minm = np.mean(each)
            minInd = gr[q][index]
    
    for i in gr[q]:
        if i != minInd:
            if arr[i] + check_sum(apple[minInd]) <= 20000:
                apple[minInd].append(i)
                for pl in apple[i]:
                    if arr[pl] + check_sum(apple[minInd]) <= 20000:
                        apple[minInd].append(pl)
                    else:
                        break
            else:
                break
    love.append(minInd)

In [572]:
love

[923, 1094, 1356, 1545]

In [573]:
grandpa[0]

[[0.0, 48.2751, 55.2286, 40.560300000000005, 78.9562, 60.902800000000006],
 [46.6814, 0.0, 12.5344, 34.2884, 37.3827, 19.3294],
 [55.200300000000006, 12.5463, 0.0, 38.0751, 31.3451, 13.5897],
 [40.5953, 34.000800000000005, 38.0751, 0.0, 61.8027, 43.7494],
 [78.9279, 37.3945, 31.3451, 61.8027, 0.0, 26.3684],
 [60.8746, 19.3412, 13.5897, 43.7494, 26.363, 0.0]]

In [574]:
for i in sk:
    if i not in love:
        gods.remove(i)

In [575]:
coat = 0
for i in gods:
    if i != []:
        coat += check_sum(apple[i])
        print(f"Index {i} ---- {apple[i]} ---- {check_sum(apple[i])} \n\n")
coat/sum(arr)*100

Index 385 ---- [48, 70, 224, 225, 226, 227, 228, 229, 230, 231, 232, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 386, 387, 388, 389, 394, 395, 427, 432, 433, 434, 435, 436, 439, 487] ---- 19993.950009634365


Index 1545 ---- [2054, 2101, 2102, 2103, 2104, 2105, 2146, 2147, 2148, 2188, 2226, 2227, 2262, 2263, 2264, 2293, 2318, 2319, 2320, 2321, 2339, 2340, 2341, 2342, 2343, 2352, 2353, 2354, 2355, 2363, 2364, 2365, 2372, 2373, 2374, 2381, 2382, 2383, 2384, 2389, 2390, 2391, 2392, 2400, 2401, 2402, 2403, 2411, 2412, 2413, 2414, 1605, 2006, 2060, 2149, 2150, 2151, 2189, 2190, 2191, 2192, 2228, 2229, 2265, 2294, 2295, 2296, 2322, 2344, 2356, 2357, 2366, 2367, 2368, 2369, 2370, 2375, 2376, 2377, 2378, 2379, 2385, 2386, 2387, 2388, 2393, 2394, 2395, 2396, 2397, 2398, 2399, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2415, 2416, 2417, 1704, 1861, 2086, 2087, 2088, 2089, 2090, 2091, 2120, 2121, 2122, 2123, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2166, 2167, 2168, 2169, 2170, 2171, 2172, 2173, 2174, 2175, 2176, 2177, 2178, 2179, 2180, 2206, 2207, 2208, 2209, 2210, 2211, 2212, 2213, 2214, 2215, 2216, 2217, 2218, 2219, 2220, 2244, 2247, 2248, 2250, 2251, 2252, 2253, 2254, 2255, 2256, 2257, 2283, 2284, 2286, 2287, 2288, 2289, 2311, 2314, 2315, 2316, 2336, 2337, 2338] ---- 19363.3946465355


Index 1038 ---- [866, 867, 869, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 986, 987, 988, 989, 990, 991, 992, 993, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153] ---- 19806.123267951407


Index 1811 ---- [1217, 1277, 1341, 1342, 1343, 1344, 1407, 1408, 1409, 1470, 1471, 1472, 1473, 1530, 1531, 1532, 1533, 1534, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1804, 1806, 1807, 1808, 1809, 1810, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1853, 1855, 1856, 1857, 1858] ---- 19801.722637200066


Index 1425 ---- [2007, 1368, 1369, 1370, 1371, 1372, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1658, 1659, 1660] ---- 19865.869543425808


Index 1423 ---- [1484, 1545, 1605, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1989, 2005] ---- 15785.551291479682


Index 923 ---- [205, 206, 246, 247, 329, 870, 932, 994, 1091, 1094, 1095, 1203, 863, 483, 484, 485, 544, 546, 607, 744, 810, 811, 875, 938, 984, 1454, 1457, 1462, 1517, 1518, 1519, 1520, 1521, 1522, 1580, 988, 936, 998, 1053, 1054, 1055, 1107, 1108, 1162, 1163, 1218, 1275, 1276, 1037, 1247, 1307, 1451, 1499, 1500, 1505, 1506, 1507, 1508, 1510, 1511, 1512, 1513, 1514, 1560, 1562, 1564, 1565, 1568, 1569, 1572, 1575, 1576, 1577, 1578, 1579, 1620, 1039, 1248, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1452, 1453, 1463, 1464, 1501, 1502, 1503, 1504, 1509, 1515, 1516, 1523, 1581] ---- 19783.695228528497


Index 437 ---- [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223] ---- 19863.369928818614


Index 1094 ---- [1051, 1104, 1105, 1159, 1160, 1161, 1215, 1216, 1273, 1274, 1338, 1339, 1404, 1465, 1467, 1525, 1528, 1584, 1585, 1639, 1642, 1063, 390, 391, 392, 393, 438, 440, 441, 442, 443, 444, 445, 492, 494, 550, 551, 1091, 1563, 1566, 1567, 1570, 1571, 1573, 1574, 1622, 1623, 1624, 1626, 1627, 1628, 1629, 1630, 1631, 1633, 1634, 1635, 1680, 1681, 1682, 1683, 1095, 1340, 1405, 1406, 1468, 1469, 1526, 1586, 1587, 1643, 1644] ---- 14708.873854807998


Index 1356 ---- [816, 941, 942, 1000, 1002, 1003, 1056, 1057, 1058, 1109, 1110, 1111, 1164, 1165, 1166, 1220, 1221, 1222, 1345, 1346, 1411, 1412, 1413, 1414, 1415, 1475, 1476, 1535, 1536, 1537, 1203, 1527, 1698, 1699, 1700, 1744, 1745, 1751, 1752, 1799, 1800, 1801, 1802, 1803, 1805, 1852, 1854, 1231, 451, 503, 505, 506, 509, 511, 512, 563, 564, 565, 566, 567, 568, 572, 618, 621, 622, 623, 624, 681, 682, 683, 684, 685, 686, 687, 688, 749, 750, 751, 813, 814, 877, 878, 879, 940, 1001, 1292, 508, 510, 569, 570, 626, 627, 628, 629, 689, 691, 752, 753, 754, 755, 756, 817, 819, 881, 1112, 1424, 1883, 1939, 1940, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 2044, 2045, 2046, 2047, 2048] ---- 19730.801822772402


Index 1358 ---- [573, 625, 632, 633, 634, 635, 690, 692, 693, 695, 696, 697, 698, 699, 701, 702, 703, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 818, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1167] ---- 19808.648314972907


Index 1359 ---- [630, 700, 1831, 1832, 1884, 1885, 1943, 1944, 2002, 2003, 2004, 2008, 2009, 2010, 2011, 2058, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367] ---- 19855.53608985597


Index 983 ---- [1212, 1040, 1091, 1094, 1095, 1154, 1155, 1156, 1157, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1401, 1455, 1456, 1458, 1459, 1460, 1461] ---- 15979.228434955432


Index 985 ---- [196, 197, 198, 199, 200, 201, 202, 203, 204, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 868] ---- 19974.605995271333


Index 1757 ---- [1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085] ---- 19867.875209410915

84.96675518223421

In [576]:
len(gods)

15

In [577]:
dist.values[1120][684]

92.6884

In [578]:
check_sum(apple[1757])

19867.875209410915

In [579]:
cost_tp, cost_under = 0,0

for i in gods:
    for apps in apple[i]:
        cost_tp += dist.values[i][apps] * arr[apps]
        
aa = 0
for j,i in enumerate(gods):
    aa += check_sum(apple[i])
#     print(f"Site Index: {i} ----- {check_sum(apple[i])}")
    cost_under += (20000 - check_sum(apple[i]))

cost_cumulative = (cost_tp*0.001) + cost_under
print(math.ceil(cost_tp*0.001), math.ceil(cost_under), math.ceil(cost_cumulative))

29421 15811 45232

In [580]:
def similar_array(arr1, arr2):
    count = 0
    for i in arr1:
        if i in arr2:
            count += 1
    if count > 0:
        return count/len(arr1)
    return -1

In [581]:
godKeys = list(gods)

distance_arr = [[] for i in range(2418)]
for index in range(2418):
    distArr1 = [dist.values[index][i] for i in range(len(dist.values[index]))]
    for x in godKeys:
        distance_arr[index].append(dist.values[index][x])

distance_arr[0]

In [582]:
for i,j in enumerate(godKeys):
    print(f"Key Index {i} ---   Value {j}")

Key Index 0 ---   Value 385
Key Index 1 ---   Value 1545
Key Index 2 ---   Value 1038
Key Index 3 ---   Value 1811
Key Index 4 ---   Value 1425
Key Index 5 ---   Value 1423
Key Index 6 ---   Value 923
Key Index 7 ---   Value 437
Key Index 8 ---   Value 1094
Key Index 9 ---   Value 1356
Key Index 10 ---   Value 1358
Key Index 11 ---   Value 1359
Key Index 12 ---   Value 983
Key Index 13 ---   Value 985
Key Index 14 ---   Value 1757

In [583]:
def binSearch(arr, target):
    left, right = 0, len(arr)-1
    f = -1
    while left <= right:
        mid = left + (right-left)//2
        
        if arr[mid] == target:
            break
        elif arr[mid] > target:
            right = mid - 1
        else:
            left = mid + 1
    
    if arr[mid] == target:
        return mid
    else:
        x, y = 0,0
        if mid-1 >= 0:
            x = arr[mid-1]
        if mid+1 <= len(arr)-1:
            y = arr[mid+1]
        if abs(target-arr[mid]) < abs(target-x) and abs(target-arr[mid]) < abs(target-y):
            return mid
        if abs(target-x) < abs(target-y):
            return mid-1
        else:
            return mid+1

In [584]:
print(godKeys)

[385, 1545, 1038, 1811, 1425, 1423, 923, 437, 1094, 1356, 1358, 1359, 983, 985, 1757]

In [585]:
coolKeys = [i for i in godKeys]
coolKeys.sort()

dictPoints = {coolKeys[i]:[] for i in range(len(godKeys))}

for love in range(24):
    mini = float('inf')
    minIndex = None
    minVal = float('inf')
    
    for j, i in enumerate(distance_arr):
        q = i[love]
        if q < mini and q > 0:
            mini = q
            minIndex = j
            minVal = q
    print(f"Value: -> {dist.values[coolKeys[love]][minIndex]} ------- From: ->{coolKeys[love]} ------- To ->: {coolKeys[binSearch(coolKeys, minIndex)]} -------- Optimal Distance: {dist.values[coolKeys[love]][coolKeys[binSearch(coolKeys, minIndex)]]}")
    dictPoints[coolKeys[binSearch(coolKeys, minIndex)]].append(coolKeys[love])
    if dictPoints[coolKeys[love]] != dictPoints[coolKeys[binSearch(coolKeys, minIndex)]]:
        for i in dictPoints[coolKeys[love]]:
            dictPoints[coolKeys[binSearch(coolKeys, minIndex)]].append(i)

In [586]:
def group_elements_kmeans(array, num_clusters):
    # Convert the array to a 2D numpy array
    data = np.array(array).reshape(-1, 1)

    # Create a k-means clustering model
    kmeans = KMeans(n_clusters=num_clusters)

    # Fit the model to your data
    kmeans.fit(data)

    # Get the cluster assignments for each data point
    cluster_labels = kmeans.labels_

    # Create three groups based on cluster assignments
    groups = [[] for _ in range(num_clusters)]
    for i, label in enumerate(cluster_labels):
        groups[label].append(array[i])

    return groups

In [588]:
child, father = set(),[]
summed = 0
rem = False
remainder = []
summed_up = []
remt = -1
for index, value in enumerate(coolKeys):
    
    if rem:
        child.add(remt)
        for i in remainder:  
            summed += arr[i]
        rem = False
        
    for ind, val in enumerate(apple[value]):
        if (summed + arr[val]) <= 100000:
            child.add(value)
            summed += arr[val]

        else:
            print(f"Sum {summed}")
            summed_up.append(summed)
            father.append(child)
            child = set()
            summed = 0
            rem = True
            remt = value
            remainder = apple[value][ind:]
    if index == len(coolKeys)-1:
        print("Hey")
        print(f"Sum {summed}")
        summed_up.append(summed)
        father.append(child)

print(father)

Sum 99492.46144740976
Sum 99808.3064487268
Sum 99740.19439643944
Hey
Sum 5127.422381462886
[{385, 1038, 437, 983, 985, 923}, {1094, 1356, 1038, 1359, 1358}, {1545, 1423, 1359, 1425, 1811, 1757}, {1811}]

In [589]:
summed_up

[99492.46144740976, 99808.3064487268, 99740.19439643944, 5127.422381462886]

In [590]:
ratGod = []
for road in range(len(father)):
    rat = [[] for i in father[road]]
    for i,x in enumerate(father[road]):
        for index, val in enumerate(father[road]):
            rat[i].append(dist.values[val,x])

    ratGod.append(rat)

In [591]:
refineries = []
for i,rats in enumerate(ratGod):
    minm = float('inf')
    for index,child in enumerate(rats):
        if np.mean(child) < minm:
            minm = np.mean(child)
            minIndex = index
    refineries.append(list(father[i])[minIndex])
refineries

[985, 1356, 1423, 1811]

In [592]:
sum(arr)

334471.1065711526

In [593]:
refineries

[985, 1356, 1423, 1811]

In [449]:
cost_tp, cost_under = 0,0

for i in gods:
    for apps in apple[i]:
        cost_tp += dist.values[i][apps] * arr[apps]
        
aa = 0
for j,i in enumerate(gods):
    aa += check_sum(apple[i])
#     print(f"Site Index: {i} ----- {check_sum(apple[i])}")
    cost_under += (20000 - check_sum(apple[i]))
    
for index,value in enumerate(refineries):
    for i in father[index]:
        cost_tp += dist.values[i, value] * check_sum(apple[value])
    cost_under += 100000 - summed_up[index]

cost_cumulative = (cost_tp*0.001) + cost_under
print(math.ceil(cost_tp*0.001), math.ceil(cost_under), math.ceil(cost_cumulative))

56545 76038 132582

In [497]:
df = pd.DataFrame(columns=['year', 'data_type', 'source_index','destination_index','value'])

fg = ['depot_location']*len(gods)
fr = ['refinery_location']*len(refineries)
year = ['20182019']*(len(gods)+len(refineries))

df['data_type'] = fg

df.fillna(0, inplace=True)

In [500]:
for index, value in enumerate(year):
    df['year'][index] = value
    
df['data_type'].extend(fr)

C:\Users\user\AppData\Local\Temp\ipykernel_1128\3707410377.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'][index] = value
C:\Users\user\AppData\Local\Temp\ipykernel_1128\3707410377.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'][index] = value
C:\Users\user\AppData\Local\Temp\ipykernel_1128\3707410377.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'][index] = value

AttributeError: 'Series' object has no attribute 'extend'

In [499]:
df

        year       data_type  source_index  destination_index  value
0   20182019  depot_location             0                  0      0
1   20182019  depot_location             0                  0      0
2   20182019  depot_location             0                  0      0
3   20182019  depot_location             0                  0      0
4   20182019  depot_location             0                  0      0
5   20182019  depot_location             0                  0      0
6   20182019  depot_location             0                  0      0
7   20182019  depot_location             0                  0      0
8   20182019  depot_location             0                  0      0
9   20182019  depot_location             0                  0      0
10  20182019  depot_location             0                  0      0
11  20182019  depot_location             0                  0      0
12  20182019  depot_location             0                  0      0
13  20182019  depot_location             0                  0      0
14  20182019  depot_location             0                  0      0
15  20182019  depot_location             0                  0      0

In [503]:
sad = (help(pd))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [552]:
bro = {i:[] for i in ['year', 'data_type', 'source_index','destination_index','value']}

bro['year'].extend(['20182019']*(len(gods)+len(refineries)))
bro['data_type'].extend(['depot_location']*len(gods))
bro['data_type'].extend(['refinery_location']*len(refineries))

bro['source_index'].extend([i for i in gods])
bro['source_index'].extend([i for i in refineries])

bro['year'].extend(['2018']* len(dataset))
bro['data_type'].extend(['biomass_forecast']* len(dataset))
bro['source_index'].extend([i for i in range(len(dataset))])

bro['value'].extend([0 for i in range(len(gods)+len(refineries))])
bro['value'].extend([i[0] for i in dataset.values])

In [553]:
keys = [len(i) for i in bro.values()]

for i in bro:
    if len(bro[i]) < max(keys):
        bro[i].extend([0 for i in range(max(keys)-len(bro[i]))])

In [558]:
df = pd.DataFrame(bro)
df[:50]

        year          data_type  source_index  destination_index       value
0   20182019     depot_location           385                  0    0.000000
1   20182019     depot_location          1545                  0    0.000000
2   20182019     depot_location          1292                  0    0.000000
3   20182019     depot_location          1038                  0    0.000000
4   20182019     depot_location          1811                  0    0.000000
5   20182019     depot_location          1425                  0    0.000000
6   20182019     depot_location          1423                  0    0.000000
7   20182019     depot_location           923                  0    0.000000
8   20182019     depot_location           437                  0    0.000000
9   20182019     depot_location          1094                  0    0.000000
10  20182019     depot_location          1358                  0    0.000000
11  20182019     depot_location          1359                  0    0.000000
12  20182019     depot_location           983                  0    0.000000
13  20182019     depot_location           985                  0    0.000000
14  20182019     depot_location          1757                  0    0.000000
15  20182019     depot_location          1120                  0    0.000000
16  20182019  refinery_location           985                  0    0.000000
17  20182019  refinery_location          1292                  0    0.000000
18  20182019  refinery_location          1423                  0    0.000000
19  20182019  refinery_location          1811                  0    0.000000
20      2018   biomass_forecast             0                  0    9.579263
21      2018   biomass_forecast             1                  0   33.575882
22      2018   biomass_forecast             2                  0   71.998426
23      2018   biomass_forecast             3                  0   94.521988
24      2018   biomass_forecast             4                  0   21.116828
25      2018   biomass_forecast             5                  0   36.767537
26      2018   biomass_forecast             6                  0   41.002053
27      2018   biomass_forecast             7                  0   80.658772
28      2018   biomass_forecast             8                  0   49.448690
29      2018   biomass_forecast             9                  0   73.996012
30      2018   biomass_forecast            10                  0   16.378743
31      2018   biomass_forecast            11                  0    4.894737
32      2018   biomass_forecast            12                  0    3.728529
33      2018   biomass_forecast            13                  0    0.162983
34      2018   biomass_forecast            14                  0    0.584490
35      2018   biomass_forecast            15                  0   48.675057
36      2018   biomass_forecast            16                  0   96.760011
37      2018   biomass_forecast            17                  0  149.221744
38      2018   biomass_forecast            18                  0  143.989268
39      2018   biomass_forecast            19                  0   88.614080
40      2018   biomass_forecast            20                  0  111.546192
41      2018   biomass_forecast            21                  0  113.807594
42      2018   biomass_forecast            22                  0  129.871313
43      2018   biomass_forecast            23                  0  162.051667
44      2018   biomass_forecast            24                  0  161.097570
45      2018   biomass_forecast            25                  0   78.844462
46      2018   biomass_forecast            26                  0   51.449796
47      2018   biomass_forecast            27                  0   41.968451
48      2018   biomass_forecast            28                  0    6.893881
49      2018   biomass_forecast            29                  0    0.263952