In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
from keras import backend as K
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor

from sklearn.preprocessing import MinMaxScaler, QuantileTransformer
from sklearn.preprocessing import RobustScaler, PowerTransformer
from sklearn.preprocessing import StandardScaler, MaxAbsScaler

from sklearn.pipeline import Pipeline
from sklearn.pipeline import FeatureUnion
from sklearn.feature_selection import RFE

import pandas as pd
import seaborn as sns
import random as rnd
import math

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import LSTM, Dense,Conv2D
from tensorflow.keras import layers

In [2]:
dataset = pd.read_csv('dataset/Biomass_History.csv')
print(len(dataset))
dataset = dataset.drop(columns="Index")
dataset[:10]

color_pal = sns.color_palette()

2418

In [4]:
# sns.boxplot(data=dataset, x='Longitude', y='2017', color='b')
# sns.boxplot(data=dataset[:1000], x='Latitude', y='2017', color='r')

In [ ]:
fig, ax = plt.subplots(ncols=4, nrows=3, figsize=(10,10))
index = 0
ax = ax.flatten()

for col,value in dataset.items():
    sns.boxplot(y=col, data=dataset, ax=ax[index])
    index += 1
    
plt.tight_layout(pad=0.5, w_pad=0.8, h_pad=1)

In [ ]:
# mean_guy = set()

# for i, val in enumerate(dataset['2016']):
#     try:
#         if val > 410:
#             mean_guy.add(i)
#     except:
#         print(i, val)
    
# # mean_guy

In [ ]:
# for i in mean_guy:
#     dataset.drop(i, inplace=True)

In [3]:
dataset['index'] = [i for i in range(len(dataset))]
dataset.set_index('index', inplace=True)
dataset.tail()

,Latitude,Longitude,2010,2011,2012,2013,2014,2015,2016,2017
index,,,,,,,,,,
2413,20.15456,72.84432,5.199882,4.516778,4.321080,2.658953,5.113997,5.301668,6.419223,5.321604
2414,20.15456,72.92394,0.122287,0.126717,0.101494,0.111509,0.121749,0.122467,0.145785,0.120626
2415,20.15456,73.00357,0.039415,0.040843,0.032713,0.035941,0.039241,0.039473,0.046989,0.038879
2416,20.15456,73.08319,2.719220,1.370163,0.818687,1.205721,1.316443,1.324201,1.576338,1.304297
2417,20.15456,73.16282,0.621228,0.238414,0.112909,0.209801,0.229067,0.230417,0.274289,0.226953

In [17]:
rainfall_2010 = [0.3, 0,0,0,0,17.1,142.1,103.6,66.4,12.5,26.4,0]
rainfall_2011 = [0,0,0,0.3,0.2,30.2,199.7,132.6,123.9,2.6,0.1,0]
rainfall_2012  = [0,0,0,0,1.7,42.7,48.5,88.9,141.4,0.9,0,0]
rainfall_2013 = [0,0.1,0,3,0.1,86.7,154.9,81.9,97.6,28.7,0,0]
rainfall_2014 = [0,0,1.2,0.3,0.1,8.3,133.3,78.5,79.9,3.2,4.2,0]
rainfall_2015 = [0.6,0.8,1.7,0.5,0,75.4,178.1,43.1,3.8,1,0.1]
rainfall_2016 = [0,0,0,0.2,1.6,40.8,79.2,64.3,12.4,20.1,0,0]
rainfall_2017 = [0,0,0,0,0.7,48.3,159.6,97.9,22.3,0.4,0,0.9]
rainfall_2018 = [0,0,0,0,0,4,132.7,36.2,4.1,0.1,0,0]
rainfall_2019 = [0.2,0,0,2.3,0,98.5,182.0,1303.9,33,23.2,0.1]

rain = [rainfall_2010, rainfall_2011,rainfall_2012, rainfall_2013, rainfall_2014, rainfall_2015,
       rainfall_2016, rainfall_2017, rainfall_2018, rainfall_2019]

In [21]:
bro = { 'latitude': [], 'longitude':[],'May Rainfall': [],'June Rainfall': [],'July Rainfall': [],
    'August Rainfall': [],'September Rainfall': [],'October Rainfall': [],'max': [],
    'min':[],'mean':[],'std':[],'year': [],'prev year 1':[],'prev year 2':[],'prev year 3':[],'prev year 4':[],
    'prev year 5':[],'prev year 6':[],'prev year 7':[],'output': [],
}

bro['May Rainfall'] = [rain[i][4] for i in range(9) for j in range(len(dataset)) ]
bro['June Rainfall'] = [rain[i][5] for i in range(9) for j in range(len(dataset)) ]
bro['July Rainfall'] = [rain[i][6] for i in range(9) for j in range(len(dataset)) ]
bro['August Rainfall'] = [rain[i][7] for i in range(9) for j in range(len(dataset)) ]
bro['September Rainfall'] = [rain[i][8] for i in range(9) for j in range(len(dataset)) ]
bro['October Rainfall'] = [rain[i][9] for i in range(9) for j in range(len(dataset)) ]

bro['longitude'] = [list(dataset['Longitude'])[j] for i in range(9) for j in range(len(dataset))]
bro['latitude'] = [list(dataset['Latitude'])[j] for i in range(9) for j in range(len(dataset))]
bro['year'].extend([2010+i for i in range(9) for j in range(len(dataset))])

max_array = [None for i in range(len(dataset))]
for i in range(8):
    for j in range(len(dataset)):
        max_array.append(max([dataset[f"{2010+_}"][j] for _ in range(i+1)]))
bro['max'] = max_array

min_array = [None for i in range(len(dataset))]
for i in range(8):
    for j in range(len(dataset)):
        min_array.append(min([dataset[f"{2010+_}"][j] for _ in range(i+1)]))
bro['min'] = min_array

mean_array = [None for i in range(len(dataset))]
for i in range(8):
    for j in range(len(dataset)):
        mean_array.append(np.mean([dataset[f"{2010+_}"][j] for _ in range(i+1)]))
bro['mean'] = mean_array

std_array = [None for i in range(len(dataset))]
for i in range(8):
    for j in range(len(dataset)):
        std_array.append(np.std([dataset[f"{2010+_}"][j] for _ in range(i+1)]))
bro['std'] = std_array

prev1_array = [None for i in range(len(dataset))]
for i in range(8):
    for j in range(len(dataset)):
        prev1_array.append(dataset[f"{2010+i}"][j])
bro['prev year 1'] = prev1_array

prev2_array = [None for i in range(len(dataset)*2)]
for i in range(7):
    for j in range(len(dataset)):
        prev2_array.append(dataset[f"{2010+i}"][j])
bro['prev year 2'] = prev2_array

prev3_array = [None for i in range(len(dataset)*3)]
for i in range(6):
    for j in range(len(dataset)):
        prev3_array.append(dataset[f"{2010+i}"][j])
bro['prev year 3'] = prev3_array

prev4_array = [None for i in range(len(dataset)*4)]
for i in range(5):
    for j in range(len(dataset)):
        prev4_array.append(dataset[f"{2010+i}"][j])
bro['prev year 4'] = prev4_array

prev5_array = [None for i in range(len(dataset)*5)]
for i in range(4):
    for j in range(len(dataset)):
        prev5_array.append(dataset[f"{2010+i}"][j])
bro['prev year 5'] = prev5_array

prev6_array = [None for i in range(len(dataset)*6)]
for i in range(3):
    for j in range(len(dataset)):
        prev6_array.append(dataset[f"{2010+i}"][j])
bro['prev year 6'] = prev6_array

prev7_array = [None for i in range(len(dataset)*7)]
for i in range(2):
    for j in range(len(dataset)):
        prev7_array.append(dataset[f"{2010+i}"][j])
bro['prev year 7'] = prev7_array

out_array = []
for i in range(8):
    for j in range(len(dataset)):
        out_array.append(dataset[f"{2010+i}"][j])
        
for i in range(2418):
    out_array.append(None)
bro['output'] = out_array

df = pd.DataFrame(bro)
df.head()

,latitude,longitude,May Rainfall,June Rainfall,July Rainfall,August Rainfall,September Rainfall,October Rainfall,max,min,...,std,year,prev year 1,prev year 2,prev year 3,prev year 4,prev year 5,prev year 6,prev year 7,output
0,24.66818,71.33144,0.0,17.1,142.1,103.6,66.4,12.5,NaN,NaN,...,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.475744
1,24.66818,71.41106,0.0,17.1,142.1,103.6,66.4,12.5,NaN,NaN,...,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.029778
2,24.66818,71.49069,0.0,17.1,142.1,103.6,66.4,12.5,NaN,NaN,...,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.831635
3,24.66818,71.57031,0.0,17.1,142.1,103.6,66.4,12.5,NaN,NaN,...,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.974419
4,24.66818,71.64994,0.0,17.1,142.1,103.6,66.4,12.5,NaN,NaN,...,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.653370

In [22]:
for i in range(len(df['prev year 1'])):
    if str(df['prev year 1'].iloc[i]) == 'nan':
        df['prev year 1'].iloc[i] = out_array[i]
        
for i in range(len(df['prev year 2'])):
    if str(df['prev year 2'].iloc[i]) == 'nan':
        df['prev year 2'].iloc[i] = out_array[i]
        
for i in range(len(df['prev year 3'])):
    if str(df['prev year 3'].iloc[i]) == 'nan':
        df['prev year 3'].iloc[i] = out_array[i]
        
for i in range(len(df['prev year 4'])):
    if str(df['prev year 4'].iloc[i]) == 'nan':
        df['prev year 4'].iloc[i] = out_array[i]
        
for i in range(len(df['prev year 1'])):
    if str(df['prev year 5'].iloc[i]) == 'nan':
        df['prev year 5'].iloc[i] = out_array[i]
        
for i in range(len(df['prev year 1'])):
    if str(df['prev year 6'].iloc[i]) == 'nan':
        df['prev year 6'].iloc[i] = out_array[i]
        
for i in range(len(df['prev year 1'])):
    if str(df['prev year 7'].iloc[i]) == 'nan':
        df['prev year 7'].iloc[i] = out_array[i]
        
for i in range(len(df['prev year 1'])):
    if str(df['max'].iloc[i]) == 'nan':
        df['max'].iloc[i] = out_array[i]
        
for i in range(len(df['prev year 1'])):
    if str(df['min'].iloc[i]) == 'nan':
        df['min'].iloc[i] = out_array[i]
        
for i in range(len(df['prev year 1'])):
    if str(df['mean'].iloc[i]) == 'nan':
        df['mean'].iloc[i] = out_array[i]
    
for i in range(len(df['prev year 1'])):
    if str(df['std'].iloc[i]) == 'nan':
        df['std'].iloc[i] = out_array[i]
        
df[:5]

C:\Users\user\AppData\Local\Temp\ipykernel_9528\3686418646.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prev year 1'].iloc[i] = out_array[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9528\3686418646.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prev year 2'].iloc[i] = out_array[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9528\3686418646.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prev year 3'].iloc[i] = out_array[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9528\3686418646.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prev year 4'].iloc[i] = out_array[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9528\3686418646.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prev year 5'].iloc[i] = out_array[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9528\3686418646.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prev year 6'].iloc[i] = out_array[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9528\3686418646.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prev year 7'].iloc[i] = out_array[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9528\3686418646.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max'].iloc[i] = out_array[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9528\3686418646.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min'].iloc[i] = out_array[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9528\3686418646.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mean'].iloc[i] = out_array[i]
C:\Users\user\AppData\Local\Temp\ipykernel_9528\3686418646.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['std'].iloc[i] = out_array[i]

,latitude,longitude,May Rainfall,June Rainfall,July Rainfall,August Rainfall,September Rainfall,October Rainfall,max,min,...,std,year,prev year 1,prev year 2,prev year 3,prev year 4,prev year 5,prev year 6,prev year 7,output
0,24.66818,71.33144,0.0,17.1,142.1,103.6,66.4,12.5,8.475744,8.475744,...,8.475744,2010,8.475744,8.475744,8.475744,8.475744,8.475744,8.475744,8.475744,8.475744
1,24.66818,71.41106,0.0,17.1,142.1,103.6,66.4,12.5,24.029778,24.029778,...,24.029778,2010,24.029778,24.029778,24.029778,24.029778,24.029778,24.029778,24.029778,24.029778
2,24.66818,71.49069,0.0,17.1,142.1,103.6,66.4,12.5,44.831635,44.831635,...,44.831635,2010,44.831635,44.831635,44.831635,44.831635,44.831635,44.831635,44.831635,44.831635
3,24.66818,71.57031,0.0,17.1,142.1,103.6,66.4,12.5,59.974419,59.974419,...,59.974419,2010,59.974419,59.974419,59.974419,59.974419,59.974419,59.974419,59.974419,59.974419
4,24.66818,71.64994,0.0,17.1,142.1,103.6,66.4,12.5,14.653370,14.653370,...,14.653370,2010,14.653370,14.653370,14.653370,14.653370,14.653370,14.653370,14.653370,14.653370

In [25]:
df[19343:]

,latitude,longitude,May Rainfall,June Rainfall,July Rainfall,August Rainfall,September Rainfall,October Rainfall,max,min,...,std,year,prev year 1,prev year 2,prev year 3,prev year 4,prev year 5,prev year 6,prev year 7,output
19343,20.15456,73.16282,0.7,48.3,159.6,97.9,22.3,0.4,0.621228,0.112909,...,0.149200,2017,0.274289,0.230417,0.229067,0.209801,0.112909,0.238414,0.621228,0.226953
19344,24.66818,71.33144,0.0,4.0,132.7,36.2,4.1,0.1,10.788374,5.180296,...,1.732411,2018,5.180296,7.387925,6.647325,10.788374,6.023070,9.202181,8.868568,NaN
19345,24.66818,71.41106,0.0,4.0,132.7,36.2,4.1,0.1,42.126945,21.634459,...,7.112872,2018,42.126945,40.431847,27.361908,34.419411,21.634459,25.866415,28.551348,NaN
19346,24.66818,71.49069,0.0,4.0,132.7,36.2,4.1,0.1,73.203232,42.517117,...,10.626485,2018,73.203232,59.181629,42.517117,70.917908,53.003735,56.982258,66.111168,NaN
19347,24.66818,71.57031,0.0,4.0,132.7,36.2,4.1,0.1,101.067352,59.974419,...,13.224905,2018,101.067352,74.536720,70.203171,93.513924,63.160561,78.956543,80.821304,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21757,20.15456,72.84432,0.0,4.0,132.7,36.2,4.1,0.1,6.419223,2.658953,...,1.016865,2018,5.321604,6.419223,5.301668,5.113997,2.658953,4.321080,4.516778,NaN
21758,20.15456,72.92394,0.0,4.0,132.7,36.2,4.1,0.1,0.145785,0.101494,...,0.011829,2018,0.120626,0.145785,0.122467,0.121749,0.111509,0.101494,0.126717,NaN
21759,20.15456,73.00357,0.0,4.0,132.7,36.2,4.1,0.1,0.046989,0.032713,...,0.003813,2018,0.038879,0.046989,0.039473,0.039241,0.035941,0.032713,0.040843,NaN
21760,20.15456,73.08319,0.0,4.0,132.7,36.2,4.1,0.1,2.719220,0.818687,...,0.517955,2018,1.304297,1.576338,1.324201,1.316443,1.205721,0.818687,1.370163,NaN
21761,20.15456,73.16282,0.0,4.0,132.7,36.2,4.1,0.1,0.621228,0.112909,...,0.140418,2018,0.226953,0.274289,0.230417,0.229067,0.209801,0.112909,0.238414,NaN

In [ ]:
## rainfall = {'2010': 368.61, '2011': 429.95, '2012': 281.61, '2013':318.21, '2014':266.87, '2015':293.29, '2016':218.95, '2017':439.01}

In [26]:
pd.set_option('display.max_columns', None)
df.corr()

,latitude,longitude,May Rainfall,June Rainfall,July Rainfall,August Rainfall,September Rainfall,October Rainfall,max,min,mean,std,year,prev year 1,prev year 2,prev year 3,prev year 4,prev year 5,prev year 6,prev year 7,output
latitude,1.000000e+00,-6.441696e-02,5.295867e-15,8.860780e-16,-7.009782e-15,-1.223077e-14,-9.444091e-15,3.236430e-15,-0.159605,-0.030619,-0.116252,-0.145604,-6.605639e-14,-0.107031,-0.104586,-0.092659,-0.107884,-0.107884,-0.092659,-0.104586,-0.103200
longitude,-6.441696e-02,1.000000e+00,-3.553205e-14,2.351586e-14,6.118271e-15,4.867839e-14,9.912838e-14,4.208297e-14,-0.066344,0.044938,-0.031134,-0.094242,-1.198482e-13,-0.013617,-0.008777,-0.018857,-0.036398,-0.036398,-0.018857,-0.008777,-0.008510
May Rainfall,5.295867e-15,-3.553205e-14,1.000000e+00,9.153901e-02,-8.079127e-01,5.793354e-02,1.650653e-01,6.411753e-02,0.008736,0.014512,0.008933,-0.159704,7.896560e-02,-0.022202,0.034589,-0.002038,-0.110515,-0.074910,-0.038709,-0.107126,-0.106213
June Rainfall,8.860780e-16,2.351586e-14,9.153901e-02,1.000000e+00,1.623382e-01,-7.090060e-02,2.099322e-02,4.369137e-01,0.002212,-0.040940,-0.008523,-0.138417,-2.125576e-02,-0.073136,0.088287,-0.031952,0.014407,-0.019490,0.032566,-0.013611,0.000477
July Rainfall,-7.009782e-15,6.118271e-15,-8.079127e-01,1.623382e-01,1.000000e+00,2.347514e-01,-1.367852e-01,-1.086556e-01,-0.014917,-0.001667,-0.008620,0.008072,-7.116783e-02,-0.014504,0.007877,0.024168,0.109291,0.042802,0.063229,0.090126,0.101659
August Rainfall,-1.223077e-14,4.867839e-14,5.793354e-02,-7.090060e-02,2.347514e-01,1.000000e+00,6.937546e-01,3.421849e-02,-0.095823,0.166685,0.002045,0.016119,-7.000135e-01,-0.042345,0.020575,0.050144,0.002605,-0.038356,0.059340,0.019540,0.048643
September Rainfall,-9.444091e-15,9.912838e-14,1.650653e-01,2.099322e-02,-1.367852e-01,6.937546e-01,1.000000e+00,7.641088e-02,-0.095961,0.167462,0.005145,-0.120022,-7.793335e-01,-0.004133,0.008871,-0.015575,-0.028322,-0.022011,0.014173,0.005005,0.005304
October Rainfall,3.236430e-15,4.208297e-14,6.411753e-02,4.369137e-01,-1.086556e-01,3.421849e-02,7.641088e-02,1.000000e+00,-0.023578,-0.012157,-0.013755,0.112336,-1.995803e-01,-0.077283,0.051074,0.049372,-0.010380,0.054797,0.064714,0.012195,0.010263
max,-1.596054e-01,-6.634368e-02,8.736463e-03,2.211759e-03,-1.491687e-02,-9.582262e-02,-9.596068e-02,-2.357826e-02,1.000000,0.727580,0.950606,0.587483,1.176196e-01,0.888679,0.863352,0.874559,0.870598,0.865846,0.843668,0.855982,0.838715
min,-3.061890e-02,4.493840e-02,1.451231e-02,-4.093955e-02,-1.667025e-03,1.666852e-01,1.674617e-01,-1.215669e-02,0.727580,1.000000,0.889838,0.456448,-2.124016e-01,0.831438,0.844620,0.780060,0.748015,0.751477,0.774799,0.758083,0.755127
mean,-1.162522e-01,-3.113404e-02,8.932706e-03,-8.523285e-03,-8.619901e-03,2.045315e-03,5.144857e-03,-1.375542e-02,0.950606,0.889838,1.000000,0.570926,-9.366837e-03,0.932217,0.920412,0.904520,0.890642,0.890987,0.889595,0.886892,0.869485
std,-1.456040e-01,-9.424215e-02,-1.597043e-01,-1.384168e-01,8.072366e-03,1.611882e-02,-1.200222e-01,1.123357e-01,0.587483,0.456448,0.570926,1.000000,-1.496940e-01,0.533546,0.516520,0.555735,0.560488,0.552588,0.547064,0.559064,0.538734
year,-6.605639e-14,-1.198482e-13,7.896560e-02,-2.125576e-02,-7.116783e-02,-7.000135e-01,-7.793335e-01,-1.995803e-01,0.117620,-0.212402,-0.009367,-0.149694,1.000000e+00,-0.006740,-0.043195,0.013763,0.022264,0.003230,-0.030119,-0.004683,-0.003680
prev year 1,-1.070312e-01,-1.361706e-02,-2.220221e-02,-7.313574e-02,-1.450444e-02,-4.234471e-02,-4.133002e-03,-7.728272e-02,0.888679,0.831438,0.932217,0.533546,-6.740362e-03,1.000000,0.789518,0.808971,0.792111,0.814308,0.769156,0.802075,0.767913
prev year 2,-1.045861e-01,-8.777192e-03,3.458912e-02,8.828660e-02,7.877295e-03,2.057452e-02,8.871181e-03,5.107444e-02,0.863352,0.844620,0.920412,0.516520,-4.319493e-02,0.789518,1.000000,0.809545,0.823738,0.822740,0.852739,0.821180,0.827916
prev year 3,-9.265859e-02,-1.885735e-02,-2.038087e-03,-3.195182e-02,2.416756e-02,5.014400e-02,-1.557456e-02,4.937242e-02,0.874559,0.780060,0.904520,0.555735,1.376327e-02,0.808971,0.809545,1.000000,0.846652,0.876808,0.902096,0.864821,0.868354
prev year 4,-1.078843e-01,-3.639755e-02,-1.105146e-01,1.440710e-02,1.092908e-01,2.605199e-03,-2.832194e-02,-1.038044e-02,0.870598,0.748015,0.890642,0.560488,2.226394e-02,0.792111,0.823738,0.846652,1.000000,0.872235,0.898937,0.936268,0.927168
prev year 5,-1.078843e-01,-3.639755e-02,-7.491027e-02,-1.949042e-02,4.280192e-02,-3.835591e-02,-2.201075e-02,5.479701e-02,0.865846,0.751477,0.890987,0.552588,3.229896e-03,0.814308,0.822740,0.876808,0.872235,1.000000,0.890102,0.907454,0.901576
prev year 6,-9.265859e-02,-1.885735e-02,-3.870905e-02,3.256597e-02,6.322906e-02,5.933994e-02,1.417271e-02,6.471380e-02,0.843668,0.774799,0.889595,0.547064,-3.011860e-02,0.769156,0.852739,0.902096,0.898937,0.890102,1.000000,0.932624,0.957218
prev year 7,-1.045861e-01,-8.777192e-03,-1.071261e-01,-1.361073e-02,9.012613e-02,1.954010e-02,5.005451e-03,1.219539e-02,0.855982,0.758083,0.886892,0.559064,-4.683409e-03,0.802075,0.821180,0.864821,0.936268,0.907454,0.932624,1.000000,0.987783
output,-1.032002e-01,-8.510294e-03,-1.062131e-01,4.768927e-04,1.016594e-01,4.864313e-02,5.304209e-03,1.026341e-02,0.838715,0.755127,0.869485,0.538734,-3.680314e-03,0.767913,0.827916,0.868354,0.927168,0.901576,0.957218,0.987783,1.000000

In [ ]:
fig, ax = plt.subplots(ncols=6, nrows=4, figsize=(10,10))
index = 0
ax = ax.flatten()

for col,value in df.items():
#     print(col)
    sns.boxplot(y=col, data=df, ax=ax[index])
    index += 1
    
plt.tight_layout(pad=0.5, w_pad=0.8, h_pad=1)

In [ ]:
fig, ax = plt.subplots(ncols=6, nrows=4, figsize=(10,10))
index = 0
ax = ax.flatten()

for col,value in df.items():
#     print(col)
    sns.displot(y=col, data=df, ax=ax[index])
    index += 1
    
plt.tight_layout(pad=0.5, w_pad=0.8, h_pad=1)

In [ ]:
train = dataset[['2010', '2011', '2012', '2013', '2014', '2015', '2016']]
test = dataset[[ '2016']]

In [ ]:
fig, ax = plt.subplots(figsize=(15,15))
train.plot(ax=ax, label='Training set', color=color_pal[0])
test.plot(ax=ax, label='Test set', color=color_pal[1])

In [27]:
len(df) - len([i for i in df['year'] == 2018 if i==True])

19344

In [28]:
X = df.drop(columns=['output']).values[:19344]/6000
X_test = df.drop(columns=['output']).values[19344:]/6000

Y = df['output'].values[:19344]
y_test = df['output'].values[19344:]

# X_train, x_test, Y_train, y_test = X[0:16926], X[16920:], Y[0:16926], Y[16920:]

In [39]:
# model = MLPRegressor(hidden_layer_sizes=(128,256), alpha=0.1, max_iter=35000)
# # model = RandomForestRegressor(max_depth=500)
# # model = LinearRegression()



# transforms = list()
# transforms.append(('mms', MinMaxScaler()))
# transforms.append(('ss', StandardScaler()))
# # transforms.append(('asl', MaxAbsScaler()))
# transforms.append(('rs', RobustScaler()))
# transforms.append(('qt', QuantileTransformer(n_quantiles=50)))
# transforms.append(('pw', PowerTransformer(method='yeo-johnson')))

# fu = FeatureUnion(transforms)
# # rfe = RFE(estimator=model, n_features_to_select=10)

# steps = list()
# steps.append(('fu', fu))
# steps.append(('model', model))
# # steps.append(('rfe', rfe))

# pipeline = Pipeline(steps=steps)

# model.fit(X,Y)

In [40]:
# y_pred = model.predict(X_test)
# print(f"Sum of Predicted: {sum(y_pred)}, Actual Sum :{sum(y_test)}")
# dad = 0

# for i in range(len(y_pred)):
#     dad += abs((y_pred[i])-y_test[i])
# #     if abs(y_pred[i] - y_test[i]) > 100:
# #         print(f"Under Predicted {i}: {abs(y_pred[i] - y_test[i])}")
# dad

In [29]:
model = tf.keras.Sequential([
    LSTM(units=128, activation='relu', ),
    Dense(16),
#     LSTM(units=48, activation='relu', ),
    Dense(8),
#     LSTM(units=52, activation='relu', ),
    Dense(1)
])

In [ ]:
X = X.reshape((X.shape[0], X.shape[1], 1))
X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], 1))

model.compile(tf.keras.optimizers.Adam(learning_rate=0.001), loss='mean_squared_error', metrics=['mae'])
model.fit(X,Y, epochs=100,)

Epoch 1/100
605/605 [==============================] - 16s 23ms/step - loss: 7777.3848 - mae: 59.3476
Epoch 2/100
605/605 [==============================] - 14s 23ms/step - loss: 5659.4854 - mae: 47.5953
Epoch 3/100
 42/605 [=>............................] - ETA: 13s - loss: 5108.4722 - mae: 41.7404

In [29]:
\model.evaluate(X_test,y_test)

76/76 [==============================] - 1s 7ms/step - loss: 3916.5115 - mae: 33.6129

[3916.511474609375, 33.612850189208984]

In [30]:
y_pred =  model.predict(X_test)

print(f"Sum of Predicted: {sum(y_pred)}, Actual Sum :{sum(y_test)}")
min(y_pred)

76/76 [==============================] - 1s 6ms/step
Sum of Predicted: [347945.1], Actual Sum :384857.0210760393

array([-0.0583109], dtype=float32)

In [31]:
y_test[0], y_pred[0]

(5.180296421, array([8.375625], dtype=float32))

In [ ]:
len(y_pred), len(y_test)

In [32]:
dad = 0

for i in range(len(y_pred)):
    dad += abs(y_pred[i]-y_test[i])
#     if abs(y_pred[i] - y_test[i]) > 100:
#         print(f"Under Predicted {i}: {abs(y_pred[i] - y_test[i])}")
dad

array([81275.91], dtype=float32)

In [ ]:
y_pred[0], y_test[0]

In [ ]:
len(df.columns)

In [ ]:
y_test

In [ ]:
check1['output'].index

In [ ]:
fig, ax = plt.subplots(figsize=(15,15))
plt.barh([i for i in range(600)],y_test[:600], color='b', align='center')
plt.barh([i for i in range(600)],y_pred[:600], color='r')

# plt.plot(y_pred[:200], color='b')

In [ ]:
data = {
    "Predictions": y_pred
}

ds = pd.DataFrame(data)
ds[:50]

In [ ]:
dataset[:50]

In [ ]:
ds.to_csv('pred_u219.csv', index=False)

In [ ]:
for i in range(len(keep_lat)):